<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OleDb"
				 connectionString="Provider=SQLOLEDB;Data Source=K-TAKAOKA-DEVPC\SQLEXPRESS;Initial Catalog=ado;Trusted_Connection=Yes;"/>
		<add name="SqlServer"
				 connectionString="Data Source=K-TAKAOKA-DEVPC\SQLEXPRESS;Initial Catalog=ado;Integrated Security=True;"
				 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>